<div id="hsts_info">
  HSTS info goes here
</div>

<div id="https_info">
  HTTPS info goes here
</div>

<div id="mixed_info">
  Mixed Content info goes here
</div>

<div id="allhttps_info">
  All HTTPS info goes here
</div>

<div id="ident_info">
  Ident info goes here
</div>

<div id="securecookies_info">
  Secure Cookies info goes here
</div>

<div id="validssl_info">
  Valid SSL info goes here
</div>

<div id="key_info">
  Key info goes here
</div>